<launch>

<!-- MoveBaseSeq node launch and Points Sequence ROS Parameters Loading -->

    <!--Run move_base_seqs node-->
        <node pkg="pre_planned" type="pre_plan.py" name="pre_plan" output="screen">
        
        <!-- Load Sequence of Points (Cartesian Coordinates wrt "map" RF, in meters) -->
            <rosparam param="p_seq">[0,0,0,0.9,0.25,0,0,0.5,0,-0.8,0.5,0,0,0.75,0,0.9,1.3,0,-0.9,0.9,0,-0.9,0,0]</rosparam>
        <!-- Load Sequence of Desired Yaw Angles (no rotations around x and y axes) in degrees-->
            <rosparam param="yea_seq">[0,90,180,90,0,180,-90,0]</rosparam>

        </node>

</launch>
